@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

h1,
h2,
h3,
h6,
h5,
p {
    font-family: "Kumbh Sans", sans-serif;
}

h3,
h6,
p {
    color: hsl(219, 9%, 45%);
}

h3 {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}

h6 {
    text-decoration: line-through;
    font-size: 15px;
    margin: 0;
}

button{
    border: none ;
}
.empty-cart {
    position: absolute;
    right: 120px;
    top: 120px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 350px;
    height: 230px;
    z-index: 3;
    background-color: white;
}

.filled-cart {
    position: absolute;
    right: 120px;
    top: 120px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 350px;
    height: 230px;
    z-index: 3;
    background-color: white;
}

.count-number {
    color: black;
    font-weight: 600;
    text-align: center;
    width: 20px;
}

.add-cart {
    font-size: 14px;
    width: 240px;
    display: flex;
    padding: 10px 60px;
    font-weight: 600;
    background-color: hsl(26, 100%, 55%);
    border: 1px solid hsl(26, 100%, 55%);
    border-radius: 10px;
    flex-wrap: nowrap;
    align-items: center;
}

.add-cart:hover {
    cursor: pointer;
    opacity: 0.7;
}

.add-cart img {
    margin-right: 15px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 30px 0;
    color: hsl(219, 9%, 45%);
}

ul li:hover {
    cursor: pointer;
}

.pages li:hover {
    border-bottom: 3px solid hsl(26, 100%, 55%);
}

nav {
    justify-content: space-between;
    display: flex;
    margin: 40px 140px 20px 140px;
    min-height: 90px;
    border-bottom: 1px solid rgb(198, 198, 198);
    z-index: 2;
}

.logo {
    margin-right: 40px;
    margin-top: 20px;
    height: 30px;
    width: 200px;
}

.left-nav{
    display: flex;
    gap: 20px;
}
.avatar {
    width: 40px;
    margin-top: -10px;
    border: 2px solid white;
    position: relative;
}

.avatar:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50px;
}

.content {
    display: flex;
    position: relative;
    gap: 100px;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    z-index: 1;
}

.dark-app-wrapper {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: brightness(30%);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.75);
}

.lightbox-active {
     z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.lightbox-hidden {
    display: none;
}

.sneakers {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.large-sneakers {
    width: 400px;
    border-radius: 20px;
}

.mini-sneakers {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0;
}

.mini-sneakers img:hover {
    cursor: pointer;
    filter: opacity(0.6);
}

.mini {
    width: 80px;
    border-radius: 10px;
}

.mini-active {
    width: 80px;
    filter: opacity(0.6);
    border-radius: 7px;
}


.next-btn{
    position: absolute;
    top: 200px;
    left: 375px;
    background: white;
    padding: 10px 15px;
    border-radius: 50%;
}
.next-btn:hover{
    cursor: pointer;
}
.next-btn:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(89%) saturate(1412%) hue-rotate(352deg) brightness(99%) contrast(95%);
}
.previous-btn{
    position: absolute;
    top: 200px;
    right: 375px;
    background: white;
    padding: 10px 15px;
    border-radius: 50%;
}

.previous-btn:hover img{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(58%) sepia(89%) saturate(1412%) hue-rotate(352deg) brightness(99%) contrast(95%);

}
.close-img{
    filter: brightness(15);
}

.close-img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(58%) sepia(89%) saturate(1412%) hue-rotate(352deg) brightness(99%) contrast(95%);

}
.active-wrapper {
    border-radius: 10px;
    border: 2px solid hsl(26, 100%, 55%);
    height: 80px;
}

h1 {
    width: 400px;
    font-weight: 800;
}

h2 {
    font-weight: 700;
    margin: 0;
}

.promotion {
    display: flex;
    flex-direction: column;
}

.promotion p {
    background: black;
    padding: 2px 8px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.descr {
    width: 400px;
}

.buying {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.count {
    display: flex;
    gap: 50px;
    align-items: center;
}

.plus {
    display: flex;
    gap: 20px;
}

.plus:hover {
    cursor: pointer;
    opacity: 0.7;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.minus {
    width: 10px;
    height: 5px;
}

.minus:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cart-count {
    position: absolute;
    right: 210px;
    top: 60px;
    background: hsl(26, 100%, 55%);
    height: 15px;
    border-radius: 50px;
    display: flex;
    width: 20px;
    justify-content: center;
    padding-bottom: 2px;
}

.cart-count p {
    margin: 0;
    height: 15px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.cart-count-0 {
    display: none;
}


.empty-cart h6 {
    text-align: center;
    padding-top: 60px;
    text-decoration: none;
}

.empty-cart h5 {
    border-bottom: 1px solid rgb(205, 199, 199);
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 15px;
}

.filled-cart h5 {
    border-bottom: 1px solid rgb(205, 199, 199);
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 15px;
}

.content-cart {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.info h6 {
    text-decoration: none;
    margin-top: 5px;
}

.info h6 span {
    color: black;
    font-weight: 800;
}

.filled-cart button {
    margin-top: 20px;
    background-color: hsl(26, 100%, 55%);
    border: none;
    width: 320px;
    margin-left: 17px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 800;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 15px;

}

.delete-img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.item-img {
    width: 60px;

}
.discount{
    display: flex;
    align-items: center;
    gap: 20px;

}

.menu-icon{
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    left: 650px;
    position: absolute;
    top: 800px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 376px ) {

    .app-wrapper{
        width: 800px;
    }
    .content{
        flex-direction: column;
        gap: 20px;
    }
    .mini-sneakers{
        display: none;
    }
    .large-sneakers{
        width: 820px;
        border-radius: 0;
    }
    .sneakers-info{
        width: 800px;
    }
    h3{
        font-size: 35px;
        margin-left: 20px;
    }
    h1{
        width: 600px;
        font-size: 65px;
        margin-left: 20px;
    }
    .descr{
        width: 750px;
        font-size: 35px;
        margin-left: 20px;
        line-height: 60px;
    }
    .buying{
        flex-direction: column;
        align-items: center;
    }
    .count{
        font-size: 40px;
    }
    .promotion{
        margin-left: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h6{
        font-size: 40px;
        margin-right: 20px;
    }
    h2{
        font-size: 70px;
    }
    .promotion p{
        padding: 12px 18px;
        border-radius: 15px;
        font-size: 37px;
    }
    .minus {
        width: 40px;
        height: 15px;
    }
    .plus{
        width: 40px;
    }
    .count-number{
        margin: 50px 220px;
        font-size: 50px;
    }
    .add-cart{
        font-size: 54px;
        width: 680px;
        justify-content: center;
        padding: 40px 0;
        border-radius: 30px;
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 700;
    }
    .add-cart img {
        margin-right: 25px;
        width: 50px;
    }
    .pages{
        display: none;
    }
    nav{
        margin: 40px 40px 20px 40px;
    }
    .logo{
        height: 60px;
        width: 350px;
    }

    .avatar{
        width: 70px;
    }

    .bacsket{
        width: 50px;
    }
    .menu-icon{
        display: flex;
        width: 50px;
        height: 50px;
        margin-top: 30px;
        margin-right: 10px;
    }
    .empty-cart{
        left: 30px;
        width: 750px;
        height: 730px;
        top: 250px;
        border-radius: 30px;
    }

    .empty-cart h5{
        font-size: 45px;
        padding-left: 60px;
        border-bottom: 4px solid rgb(205, 199, 199);
        padding-bottom: 50px;
    }

    .empty-cart h6{
        padding-top: 160px;
    }

    .filled-cart{
        left: 30px;
        width: 750px;
        height: 730px;
        top: 250px;
        border-radius: 30px;
    }

    .filled-cart h5{
         font-size: 45px;
        padding-left: 60px;
        border-bottom: 4px solid rgb(205, 199, 199);
        padding-bottom: 50px;
    }

    .filled-cart button{
        font-size: 54px;
        width: 680px;
        justify-content: center;
        padding: 40px 0;
        border-radius: 30px;
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 700;
        margin-left: 35px;
        margin-top: 100px;
    }
    .content-cart{
        margin-top: 100px;
        padding: 0 30px;
    }
    .item-img {
        width: 80px;
        height: 100px;
    }
    .delete-img {
        width: 40px;
        height: 50px;
        margin-top: 40px;
    }
    .lightbox-active {
    display: none !important;
  }

  .dark-app-wrapper {
    filter: none !important;
    pointer-events: auto !important;
    background-color: white !important;
    position: static !important;
    width: 800px;
    
  }
  .attribution{
    left: 350px;
    top: 3000px;
    width: 200px;
  }

  .previous-btn{
    position: absolute;
        top: 400px;
        left: 23px;
        background: white;
        padding: 10px 15px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
  }
  .next-btn{
    position: absolute;
        top: 400px;
        left: 690px;
        background: white;
        padding: 10px 15px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
  }
}